.hero {
    margin-bottom: 0.625 * 3rem;
    .main-title {
      font-size: 0.625 * 2.4rem;
      font-weight: 600;
      margin-bottom: 0.625 * 0.8rem;
      color: #252b42;
    }
    .main-desc {
      font-size: 0.625 * 1.8rem;
      font-weight: 400;
      color: #858585;
    }
  }
  